@media(max-width: 991px){
    .row .col-md-2 .panel-group > .panel-default{
        display: inline-block;
    }
}

#top-menu{
  margin: 5px 5px;
}
.group{
  background-color:rgba(0,0,200,.8);
  border: 3px solid transparent;
  border-radius: 2px;
  margin-bottom: 5px;
}
.dropbtn {
    background-color:rgba(0,0,200,.8);
    color: white;
    padding:8px 18px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(255,255,255,1);
    color: rgba(0,0,200,.8);
}


.panel .content p{
    /*width: 80%;*/
    line-height: 25px;

}
.panel .content .read-more{
    font-size: 20px;
}
.upvote{
    height: 30px;
    width: 30px;
    color: grey;
    padding-right: 20px;
}
.upvote span{
        font-size: 20px;
}
.icon{
    padding-left: 5px;
}
.col-md-1 .fa-3x{
    font-size: 30px;
}
.fa:hover {
    color: red;
}
.fa:hover ~ .fa  span{
    color: black;
}
.fa-heart-o:hover{
    color:red;
}
.panel .tag{
    padding-left: 20px;
}
.tag .badge{
    margin:5px 5px 12px 7px;
    padding: 5px 13px;
}









